.landing-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.company-logo {
  height: 50px;
  width: auto;
  margin: 0px 5px;
  border: none;
}

.company-name {
  font-size: 40px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.user-section {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.user-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f50057;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.logout-button:hover {
  background-color: #c51162;
}

.content-container {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 60px);
}

.sidebar {
  width: 25%;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.sidebar-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #e9ecef;
}

.sidebar-item.active {
  background-color: #007bff;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h2 {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 20px;
}

.content button {
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.content button:hover {
  background-color: #1565c0;
}

.back-button {
  padding: 10px 20px;
  background-color: #35e75b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.back-button:hover {
  background-color: #29b146;
}

.user-info-tooltip {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.user-section:hover .user-info-tooltip {
  display: block;
}

.content-image {
  width: 20%;
  height: 20%;
  margin-bottom: 20px;
}

.win {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}